h1 {
    font-family: "Trebuchet MS";
    color: white;
    font-size: 2rem;
}

body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 25, 2016, 12:39:25 PM
    Author     : royjoo
*/

